#footer {
    background: linear-gradient(to right, rgb(49, 52, 90), rgb(73, 73, 212));
}

.btn-platzi {
    background: #97c93e;
    color:white;
}

.btn-platzi:hover {
    background: #82ad36;
}

#footer a {
    color:white;
}

#header img {
    width: 40px;
}

#main .carousel-inner img {
    max-height: 70vh;
    object-fit: cover;
    filter:grayscale(70%);
}

#carousel {
    position: relative;
}

#carousel .overlay {
    position: absolute;
    top:0;
    bottom:0;
    left:0;
    right:0;
    background: rgba(0,0,0,0.5);
    color:white;
    z-index: 10;
}

#carousel .overlay .container, 
    #carousel .overlay .row {
        height: 100%;
    }

.ml-auto {
    margin-left:auto;
}


.text-platzi {
    color: #97c93e !important;
}

#place-time {
    background: #212529;
    color:white;
}

#place-time img {
    max-width: 100%;
}

#place-time .col {
    padding-left:0;
    padding-right:0;
}